* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 0px 0px 20px 20px;
}

.navbar-brand {
  font-size: 1.5em;
  font-family: against regular;
  color: rgb(247, 157, 11);
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-menu li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.navbar-menu li a:hover {
  border: 1px solid white;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Hero Section */
.hero {
  height: 100vh;
  background: url("event-bg.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 253, 253);
  padding: 0 20px;
}

.hero h1 {
  font-size: 5em;
  margin-bottom: 10px;
  color: #ffffff;
}

.hero-btn {
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
  border: 2px solid white;
}
.hero-btn:hover {
  border: 1px solid white;
  background-color: #ffffff;
  color: rgb(109, 40, 139);
}
.our_outer {
  height: 100vh;
  width: auto;
  position: relative;
  /* background-color: #000000; */
}
.about_outer {
  height: 100vh;
  width: auto;
  position: relative;
  background-color: #cecdcd;
  border-radius: 20px;
  display: flex;
}
.video {
  flex: 1;
}
.con_outer {
  background-color: #ffffff;
}
.text {
  display: flex;
}

.services,
.about,
.contact {
  padding: 50px 20px;
  text-align: center;
}

.service-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}
#ab {
  padding-top: 0px;
  font-size: 40px;

  margin-top: 60px;
}
#connect {
  margin-top: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #eba92f;
  font-size: 50px;
}
.video {
  width: 10%;
  height: auto;
  margin-top: 120px;
  box-shadow: 10px 2vh 2vh 1vh rgba(0, 0, 0, 0.104);
}
.ab1 {
}
#us {
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  font-weight: 100;
}

.video_main {
  height: 70vh;
}
.text {
  margin-top: 70px;
}
.value2 {
  margin-top: 100px;
}
#our {
  margin-top: 30px;
  color: #eba92f;
  font-family: against regular;
}
#our2 {
  margin-top: 20px;
  font-weight: 100;
}

.service-item {
  width: 200px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pi_item {
  width: 300px;
  height: 400px;
  padding: 20px;
  background-color: #000000;
  border-radius: 8px;
  margin-top: 90px;
}
#one {
  background-image: url(pi1.jpg);
  background-size: cover;
  filter: grayscale(100%);
}
#one:hover {
  filter: grayscale(0%);
}
#two {
  background-image: url(pi2.jpg);
  background-size: cover;
  filter: grayscale(100%);
}
#two:hover {
  filter: grayscale(0%);
}
#three {
  background-image: url(pi3.jpg);
  background-size: cover;
  filter: grayscale(100%);
}
#three:hover {
  filter: grayscale(0%);
}
#four {
  background-image: url(pi4.jpg);
  background-size: cover;
  filter: grayscale(100%);
}
#four:hover {
  filter: grayscale(0%);
}
.pi_out {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.contact input,
.contact textarea,
.contact button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 50%;
  margin-left: 25%;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-menu.active {
    display: flex;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
  }

  .service-list {
    flex-direction: column;
  }
}
#bg {
  background-image: url(wed4.jpg);
  height: 100vh;
  width: auto;
  position: relative;
  background-size: cover;
}
